<%- include('templates/header.ejs', { cssFiles: ['booked.css'] }) %>


<main
            class="main"
            style="
                position: absolute;
                top: 60px;
                left: 0;
                right: 0;
                padding-bottom: 10%;
                background-color: rgb(85, 111, 68);
                overflow: auto; /* allows scrolling if content overflows */
            "
        >
            <div class="container mt-5">
                <h1 class="mb-3">Porteau Cove</h1>
                <img
                    src="<%= favCampExample.imageUrl %>"
                    style="max-height: fit-content"
                    class="img-fluid rounded-start"
                    alt="..."
                />

                <div class="mb-4">
                    <h4>Description</h4>
                    <p>
                        <%= favCampExample.bio %>
                    </p>
                </div>

                <div class="mb-4">
                    <h4>Activities</h4>
                    <ul>
                        <li>Camping</li>
                        <li>Scuba Diving</li>
                        <li>Stargazing</li>
                        <li>Picnicking</li>
                        <li>Wildlife Viewing</li>
                    </ul>
                </div>

                <a href="/" id="homeBtn" class="btn btn-primary">Back to Home</a>
            </div>
        </main>

<%- include('templates/footer') %>
