    <link rel="stylesheet" href="bg.css" />

    
    <div class="wave-background-bottom">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none">
    <path d="M0.00,49.98 C254.51,72.06 306.43,22.41 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"></path>
  </svg>
</div>