<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wildpath</title>
    <meta name="comp2800 template" content="My 2800 App" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="footer.css"/>

    <!-- Mapbox GL JS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

    <!-- Your styles -->
    <% if (locals.cssFiles) { %>
        <% for (let css of cssFiles) { %>
            <link rel="stylesheet" href="<%= css %>" />
            <% } %>
                <% } %>
                    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <!-- Top bar header -->
    <header class="wildpath-header">
        <div class="container d-flex align-items-center" style="height: 100%">
            <div style="
                 width: 40px;
                  height: 40px;
                   border-radius: 50%;
                   overflow: hidden;">
                <a href="/">
                    <img src="/wildpath.png" alt="Logo"
                        style="width: 40px; height: 40px; object-fit: cover;">
                </a>
            </div>

            <h4 class="ms-3 mb-0 text-black">Wildpath</h4>
        </div>
        
    </header>

        <div class="profile-header position-fixed top-0 end-0 m-3 d-flex align-items-center" style="z-index: 9999;">
            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                <a href="/profile">
                    <img 
                      src="<%= user && user.profileImage ? user.profileImage : '/images/avatars/avatar1.png' %>" 
                      alt="Profile Icon" 
                      style="width: 40px; height: 40px; object-fit: cover;">
                  </a>                  
            </div>
            <h4 class="ms-2 mb-0 text-black">Profile</h4>
        </div>
