

h3 {
  border: 2px solid #283F3B;
  padding: 0.5rem 1.5rem;
  border-radius: 11px;
  display: inline-block;
  background-color: #f7f7f7;
  font-weight: 500;
  color: #283F3B;
}

.three h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #283F3B;
  position: relative;
}

.main {
  padding: 4% 2% 10%;
  background-color: #BDD3AF;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
  .card,
  .card-hover {
    border-radius: 10px;
    overflow: scroll;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
    background-color: white;
  }

.card-hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  box-shadow: 0 8px 40px rgba(0,0,0,0.25);

}

.card-hover:hover {
  transform: translateY(-14px);
  box-shadow: 0 8px 40px rgba(0,0,0,0.25);
}

.card-hover:hover .card-img-overlay {
  background-color: rgba(40, 63, 59, 0.7);
}


.list-group {
  background: white;
  border-radius: 10px;
  padding: 0.5rem;
  color: #283F3B;
  font-size: 0.95rem;
  flex-grow: 1;
}

.list-group-item {
  border: none;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #283F3B;
  border-bottom: 1px solid #dee2e6;
}

.list-group-item:last-child {
  border-bottom: none;
}

.material-icons {
  font-size: 1.3rem;
  color: #659B5E;
  vertical-align: middle;
}

.btn {
  background-color: #B4D9A7;
  border: 2px solid #B4D9A7;
  color: #283F3B;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #95BF74;
  border-color: #95BF74;
  color: #1B2E1B;
}

.notAvail {
  width: 100px !important;
  border-radius: 20px !important;
}

.modal-content {
  background-color: white !important;
  color: black !important;
  z-index: 1050;
}

.wave-background-bottom svg {
  width: 100%;
  height: 100%;
  display: block;
}



.modal {
  z-index: 9999 !important;
  position: fixed;
}

.modal-backdrop {
  z-index: 1050 !important;
}


.card:last-of-type {
  margin-bottom: 140px;
}

.wave-background-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 820px;
  z-index: 0; /* or 1 */
  pointer-events: none;
}


.wave-background-bottom svg path {
  fill: rgb(44, 71, 44);
}

.favouriteAvatar {
  position: fixed;
  bottom: 20px;   
  right: 20px;   
  width: 50px;
  height: 50px;
  z-index: 1000;  
}

h5 {
  text-shadow: 2px 2px black;
}
h5 {
  text-shadow: 2px 2px black;
}