

body{
    background:#eee;
}

.card{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#95BF74;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#556F44;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.buttons button:hover{
       border:1px solid #659B5E !important;
       color:#fff;
       height:40px;
       background-color:#659B5E;
}

#message {
    color: green;
    border: solid green 2px;
}

#contact {
    background-color: green;
    border: solid green 2px;
}

#submit1 {
    background-color: green;
    border: solid green 2px;
}

.form-group {
    padding: 10px;
}

.form-control {
    padding: 10px;
}

#lastName {
    padding-top: 10px;
}
#first {
    padding:10px;
}

#submit1 button:hover{
    border:1px solid #659B5E !important;
    color:#fff;
    height:40px;
    background-color:#659B5E;
}

.btn {
    width: 20%;
}
  
  .avatar-option input:checked + .avatar-img {
    border: 2px solid #95BF74 !important;
  }
  
#logoutBtn {
    min-width: 500px;
}

#logoutBtn:hover {
background-color: rgb(231, 116, 116);
}

#save1 {
    width: 40%;
    background-color: #659B5E;
    border: solid #659B5E 2px;
}

#save1:hover {
    background-color: #95BF74;
    border: solid #95BF74 2px;
}

.favouriteAvatar {
    position: fixed;
    bottom: 20px;   
    right: 20px;   
    width: 50px;
    height: 50px;
    z-index: 1000;  
  }