body {
    margin-bottom: 10%;
}
  .card {
    border-radius: 10px;
    box-shadow: 0 40px 25px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding: 30px;
  }
  
  .form-label {
    font-weight: 1000;
    color: #7ea963;
    text-shadow: black 0.5px 0.5px;
    text-shadow: white 0.5px 1px;


  }
  
  .form-control, .form-select, textarea {
    border-radius: 12px;
    border: 1px solid black;
  }
      
  .three {
    font-size: 25px;
  }

  .card-header {
    padding: 15px;
    border-bottom: 2px dashed #BEE1C3;
  }
